@font-face {
	font-family: "ITC";
	src: url("../fonts/itc/ITC.eot");
	src: local("☺"), url("../fonts/itc/ITC.woff") format("woff"), url("../fonts/itc/ITC.ttf") format("truetype"),
		url("../fonts/itc/ITC.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
