//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
@import "fonts.scss";
$fontfamily: "Helvetica	", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1300;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "slider.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main {
	min-height: 100vh;
	height: 100vh;
	position: relative;
	// padding: 98px 0 0 0;
	background-color: #000;
	// background: url("../../img/main__slider/01.jpg") center/cover no-repeat;
	&__body {
		height: 100%;
		width: 100%;
		padding: 180px 0px 100px 0px;
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		color: #fff;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #000;
			opacity: 0.4;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__column {
		flex: 0 0 50%;
	}

	&__form {
		position: relative;
		z-index: 5;
		height: 500px;
		width: 500px;
		background-color: #000;
	}

	&__title {
		position: relative;
		z-index: 10;
		font-size: 45px;
		line-height: 38px;
		margin-bottom: 25px;
		font-weight: 700;
	}

	&__subtitle {
		max-width: 870px;
		position: relative;
		z-index: 10;
		font-size: 22px;
		line-height: 25px;
		margin-bottom: 55px;
		&_mini {
			max-width: 950px;
		}
	}

	&__btn {
		position: relative;
		z-index: 5;
		text-transform: uppercase;
		font-size: 15px;
		color: #fff;
		font-weight: 700;
		letter-spacing: 1.7px;
		background-color: #e8594e;
		padding: 15px 30px;
		border-radius: 5px;
		transition: all 0.5s ease 0s;
		&:hover {
			background-color: #ba0d00;
		}
	}

	&__image {
		flex: 0 0 50%;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.btn {
}

//====================================================================================================

.about {
	min-height: 700px;
	padding: 90px 0px 60px 0;
	background-color: #7fffd4;
	text-align: center;
	color: #fff;
	&__title {
		font-size: 35px;
		margin-bottom: 50px;
	}

	&__text {
		font-size: 23px;
		line-height: 25px;
	}
}

//====================================================================================================

.goods {
	min-height: 700px;
	padding: 90px 0 60px 0;
	background-color: tomato;
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__title {
		font-size: 35px;
		margin-bottom: 80px;
	}

	&__row {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		min-height: 300px;
		padding: 30px 40px;
	}

	&__column {
		flex: 0 0 33.333%;
		height: 500px;
		background-color: aqua;
	}

	&__item {
	}
}
.container {
}
.item-goods {
	&__image {
	}

	&__title {
	}

	&__descr {
	}
}

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
