$color-dark: #1c2e3d;
$color-sornie: #b48d3f;
$color-omevia: #92c8e9;
$color-painless: #0b9444;
$color-b12: #ef3e36;
$color-slim: #d91b5c;
$color-melatonin: #ee1d99;
$color-dekamin: #febc01;
$minwidth: 320px;
